<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>WallyMarty Superstore::: CRM System</h1>
    <a th:src="">Customer</a>
    <a th:src="">Prime Customer</a>
</header>
<section layout:fragment="custom-content">
    <p></p>
</section>
<footer>
    <p>My custom footer</p>
    <p layout:fragment="custom-footer">O kalue::: CS425SWE</p>
</footer>
</body>
</html>